[Desktop Entry]
Categories=x11opacity-tool;
Comment=x11opacity-tool
Comment[zh_CN]=linux窗口透明工具
Encoding=UTF-8
Exec=/opt/durapps/x11opacity-tool/x11opacity-tool
GenericName=x11opacity-tool
GenericName[zh_CN]=linux窗口透明工具
Icon=/opt/durapps/x11opacity-tool/window.svg
Name=x11opacity-tool
Name[zh_CN]=linux窗口透明工具
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-Vendor=user-custom
X-Deepin-ManualID=x11opacity-tool